bin 
include
lib
lib64
pyvenv.cfg
share
datasets
Data_viz.ipynb
NeuralNetwork/EuroSAT/*
NeuralNetwork/EuroSATallBands/*
NeuralNetwork/eurosat-dataset.zip
NeuralNetwork/weights/NN*
NeuralNetwork/.neptune
