bin 
include
lib
lib64
pyvenv.cfg
share
etc/jupyter/nbconfig/notebook.d
Classifiers/CNN-Based/weights
Classifiers/.neptune
Classifiers/CNN-Based/__pycache__
Classifiers/CNN-Based/Networks
Classifiers/CNN-Based/Attempts.txt
Semantic-Segmentation/CNN-BASED/.neptune
Semantic-Segmentation/CNN-BASED/weights
Semantic-Segmentation/CNN-BASED/__pycache__
Datasets
neptune.json
bbox_Matching_ Algorithm.py
Object_Detection/__pycache__