.vscode
.neptune
bin 
include
lib
lib64
pyvenv.cfg
share
etc/jupyter/nbconfig/notebook.d
Classification/CNN-Based/weights
Classification/.neptune
Classification/__pycache__
Classification/CNN-Based/Networks
Classification/CNN-Based/Attempts.txt
Classification/Transformer-Based/scratchbook.ipynb
Classification/Transformer-Based/weights
Semantic-Segmentation/CNN-BASED/.neptune
Semantic-Segmentation/CNN-BASED/weights
Semantic-Segmentation/CNN-BASED/__pycache__
Datasets
neptune.json
bbox_Matching_ Algorithm.py
Object_Detection/__pycache__